.singleTagBox {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.TagManagerBox {
    display: flex;
    flex-direction: column;
}
.createTagForm {
    display: flex;
    flex-direction: column;
}